<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
</head>
<body>
  <!-- CSS goes in the document HEAD or added to your external stylesheet -->
  <style type="text/css">
  table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
  }
  table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
  }
  table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
  }
  </style>

  <!-- Table goes in the document BODY -->
  <table class="gridtable">
  <tr>
    <th>id</th><th>nickname</th><th>message</th>
  </tr>
  <%
  for(var i in mglist){
  %>
  <tr>
    <td><%=mglist[i].id%></td><td><%=mglist[i].nickname%></td><td><%=mglist[i].message%></td>
  </tr>
  <% } %>
  </table>
</body>
</html>

